@model IEnumerable<MedCareCore.Models.Patient>

@{
    ViewData["Title"] = "Patients Registry";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Patients Registry</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Patients" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Register New Patient
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Patient Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Registration Date</th>
                <th>Actio tons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Email</td>
                    <td>@obj.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    <td>@obj.Gender</td>
                    <td>@obj.Phone</td>
                    <td>@obj.CreatedAt.ToString("dd/MM/yyyy")</td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Patients" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-1">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Patients" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>